.start-page-container {
    width: 1158px;
    height: 682px;
    -webkit-app-region: drag; 
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skype-background-layer {
    display: inline-flex;
    padding: 4px;
    align-items: flex-start;
    gap: 10px;
    background: #DEF8FF;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-app-region: no-drag;
}

.chat-field {
    display: flex;
    width: 793px;
    height: 488px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 0 5px 5px 5px;
    border: 1px solid #C9C9C9;
    background: #FFF;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.message-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 553px;
    height: 142px;
    bottom: 8px;
}

.message-tools {
    display: flex;
    align-items: center;
    gap: 22px;
    width: 100%;
}

.tool-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.tool-text {
    color: #A5A5A5;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    font-weight: 350;
    opacity: 0.95;
}

.tool-icon {
    width: 18px;
    height: 18px;
    opacity: 0.95;
}

.tool-icon-small {
    width: 15px;
    height: 15px;
    cursor: pointer;
    opacity: 0.95;
}

.message-field {
    display: flex;
    width: 490px;
    height: 86px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    gap: 8px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25) inset;
    margin-top: auto;
    position: relative;
}

.chat-input-placeholder {
    align-self: stretch;
    color: #A5A5A5;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    font-weight: 350;
    position: static; 
    margin-top: 4px;
    opacity: 0.6;
}

.message-button {
    position: absolute;
    top: 36px;
    right: 0px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid #00C5F6;
    background: linear-gradient(180deg, #CFF6FF 0%, #00C5F6 50%);
}

.show-messages {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    border-radius: 100px;
}

.blue-text {
    color: #0BF;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}