/* body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
} */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents scrollbars on the main window */
  font-family: 'Segoe UI';
}

.app-wrapper {
  width: 1158px;
  height: 682px;
  margin: 0;
  padding: 0;
  display: flex;
  background: transparent; /* Allows Electron transparency to work */
}
